* {
    box-sizing: border-box;
}

body {
    background-color: darkgray;
    font-family: "Open Sans", sans-serif; 
    font-size: 20px;
    line-height: 27px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

body * {
    background-color: rgb(54, 52, 50);
    color: orange;
    align-self: center;
    margin-top: 30px;
}

.headline {
    font-size: 25px;
    line-height: 36px;
    text-align: center;
}

.headline * {
    padding: 0;
}

h1, h2, h3 {
    font-size: 30px;
    line-height: 38px;
    text-align: center;
}

h4 {
    font-size: 25px;
    line-height: 36px;
    text-align: center;
    font-style: italic;
}

.contact-info, .project, .project-info, .bio, .headline {
    width: 100%;
}

.contact-info * {
    list-style: none;
    padding: 0;
    padding-left: 5px;
}

.bio, .project-info {
    padding-left: 15px;
    padding-right: 15px;
}

.bio *, .contact-info *, h3 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.screenshot, .icons {
    width: 100%;
    padding: 0;
    margin: 0;
}

.icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.icons *{
    width: 13%;
    height: 40px;
    padding: 5;
    margin: 0;
    background-color: white;
}

.project * {
    list-style: none;
    margin: 0;
    padding: 0;
}

.project-info li {
    padding: 0 15px 10px 15px;
}

.pic-space {
    padding: 10px 0 10px 0px;
}

.make-bold {
    font-weight: bold;
}

.contact-footer {
    display: none;
}

a {
    color: lightblue;
}

.contact-nav {
    width: 100%;
    top: 0;
    margin: 0;
    position: fixed;
    display: inline-block;
    overflow: hidden;
    border: 3px solid lightblue;
    font-size: 16px;
    line-height: 20px;
}

.contact-nav a {
    text-decoration: none;
}

.contact-nav p {
    margin: 0;
    padding: 5px 5px 0px 5px;
}

h1 {
    display: none;
}

.float-left {
    margin: 0;
    padding: 0;
    float: left;
    text-align: left;
}

.align-right {
    text-align: right;
}

@media screen and (min-width:600px) {
    .project-contents {
        display: flex;
        flex-direction: column ;
        padding-bottom: 10px;
    }

    .project-info {
        padding-left: 15px;
        padding-right: 15px;
    }

    .icons * { 
        height: 25px;
    }

    .icon2 {
        margin-left: 5px;
        margin-right: 5px;
    }

    .headline, .contact-info, .bio, .all-projects {
        width: 90%;
    }

    .contact-nav {
        text-align: center;
    }

    .contact-nav p{
        margin-top: 1.5%;
        display: inline-block;
        padding-right: 20px;
    }

    .headline {
        margin-top: 10%;
    }

    .float-left {
        display: inline;
        float: none;
        text-align: center;
    }

    .align-right {
        display: inline;
        text-align: center;
    }
}

@media screen and (min-width:1200px) {

    .headline, .contact-info, .bio, .all-projects {
        width: 70%;
    }

    .headline {
        margin-top: 80px;
    }

    .icons * {
        width: 3%;
    }

    .contact-info {
        display: none;
    }

    .contact-nav {
        text-align: right;
    }

    .contact-nav p{
        margin-top: 0.4%;
    }

    h1 {
        display: inline-block;
        float: left;
        margin: 0;
        margin-left: 1%;
        margin-top: 0.2%;
        padding: 0;
    }
}
